*{
    margin: 0;
    padding: 0;
}

.NavBarContainer
{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 99%;
    height: 4vw;
    padding-left: 1vw;
    border-bottom: 1px solid gray;
    .NavBarContainer_icon{
        font-size: 2.4vw;
    }
}