.PhotoDayContainer{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    font-size: 1vw;
    img{
        width: 100%;
        aspect-ratio: 1/1;
    }
}